name: mix
on: push
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - uses: erlef/setup-elixir@v1
      with:
        otp-version: 22.x
        elixir-version: 1.9.x
    - name: Dependencies
      run: |
        mix local.rebar --force
        mix local.hex --force
        mix deps.get
    - name: Compilation
      run: mix compile
    - name: Tests
      run: mix test
